<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" name="viewport">
    <title>Задачи</title>
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-toolbar color="blue darken-4" dark>
                <v-toolbar-title
                        class="headline"
                >Список дел</v-toolbar-title>

                <v-spacer></v-spacer>

                <v-switch
                        hide-details
                        inset
                        label="Темная тема"
                        v-model="$vuetify.theme.dark"
                ></v-switch>
            </v-toolbar>

            <v-container style="max-width: 760px">
                <v-text-field
                        @keyup.enter="addTodo"
                        clearable
                        id="newTodo"
                        label="Введите название задачи..."
                        name="newTodo"
                        solo
                        v-model="todoTitle"
                >
                    <v-fade-transition v-slot:append>
                        <v-icon
                                @click="create"
                                v-if="task"
                        >
                            add_circle
                        </v-icon>
                    </v-fade-transition>
                </v-text-field>

                <small class="text--secondary">{{new Date() | date}}</small>
                <h2 class="success--text">
                    <v-icon color="success">mdi-format-list-text</v-icon>
                    Задачи:&nbsp;
                    <v-fade-transition leave-absolute>
                    <span :key="`todos-${todos.length}`">
                      {{ todos.length }}
                    </span>
                    </v-fade-transition>
                </h2>

                <v-divider class="mt-4"></v-divider>
                <v-row
                        align="center"
                        class="my-1"
                >
                    <strong class="mx-4 info--text text--darken-2">
                        Remaining: {{ remainingTodos }}
                    </strong>

                    <v-divider vertical></v-divider>

                    <strong class="mx-4 success--text text--darken-2">
                        Completed: {{ completedTodos }}
                    </strong>

                    <v-spacer></v-spacer>

                    <v-progress-circular
                            :value="progress"
                            class="mr-2"
                    ></v-progress-circular>
                </v-row>

                <v-divider class="mb-4"></v-divider>

                <p v-if="todos.length === 0">
                    У вас 0 задач, добавьте новую
                </p>

                <v-card v-if="todos.length > 0">
                    <v-slide-y-transition
                            class="py-0"
                            group
                            tag="v-list"
                    >
                        <template v-for="(task, i) in todos">
                            <v-divider
                                    :key="`${i}-divider`"
                                    v-if="i !== 0"
                            ></v-divider>

                            <v-list-item :key="`${i}-${task.text}`">
                                <v-list-item-action>
                                    <v-checkbox
                                            :color="task.done && 'grey' || 'primary'"
                                            v-model="task.done"
                                            @change="completeTodo(task.id)"
                                    >
                                    </v-checkbox>
                                </v-list-item-action>

                                <v-tooltip left>
                                    <template v-slot:activator="{ on }">
                                        <v-list-item-title
                                                :class="task.done && 'grey--text' || 'primary--text'"
                                                v-on="on"
                                        >{{task.title | capitalize}}
                                        </v-list-item-title>
                                    </template>
                                    <span>{{task.title | capitalize}}</span>
                                </v-tooltip>

                                <v-spacer></v-spacer>

                                <v-list-item-title>
                                    <p class="font-weight-light mb-0 ml-5">{{task.createdAt | date(true)}} <br><small>(изменено {{task.updatedAt | date(true)}})</small></p>
                                </v-list-item-title>

                                <v-btn @click="removeTodo(task.id)" color="red" icon>
                                    <v-scroll-x-transition>
                                        <v-icon>mdi-close</v-icon>
                                    </v-scroll-x-transition>
                                </v-btn>
                            </v-list-item>
                        </template>
                    </v-slide-y-transition>
                </v-card>

            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="app.js"></script>
</body>
</html>
